[Unit]
Description=Athena Image Generator FastAPI App
After=network.target

[Service]
Type=simple
User=manti
Group=manti
Restart=always
WorkingDirectory=/home/manti/www/athena
EnvironmentFile=/home/manti/www/athena/.env
ExecStart=/home/manti/www/athena/.venv/bin/uvicorn main:app --host 0.0.0.0 --port 8002 --reload
StandardOutput=file:/var/log/athena/api-stdout.log
StandardError=file:/var/log/athena/api-stderr.log
KillSignal=SIGINT
TimeoutStopSec=300
RestartSec=10

[Install]
WantedBy=default.target
